<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
</head>
<body>
    <!-- a 태그 하나 만들고 해당 링크 클릭 시 board_insert.ejs 보여주게 함  -->
    <div class="postlist">
        <!--  DB에서 가져온 데이터값들 출력 -->
        <% content.forEach((item ,idx) => { %>
            <div class="lists">
                <h2><%- item.author %></h2>
                <p><%- item.context %></p>
            </div>
        <% }) %>
    </div>
    <a href="/board/input">글쓰기</a>
</body>
</html>